<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationDescription</key>
	<string>Bear è un&apos;applicazione per prendere note e scrivere disponibile per macOS, iOS e Apple Watch. Offre un semplice ma flessibile strumento per la scrittura, supporto Markdown e un robusto sistema di tag per organizzare il proprio lavoro.</string>
	<key>DeveloperName</key>
	<string>Shiny Frog Ltd.</string>
	<key>Connections</key>
	<array>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>*.appcenter.ms,*.data.microsoft.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Relevance</key>
			<string>Default</string>
			<key>Purpose</key>
			<string>Bear necessita il permesso per inviare i tuoi crashlog. I crashlog aiutano gli sviluppatori di Bear a sistemare i bug dell&apos;applicativo e sono anonimi. </string>
			<key>DenyConsequences</key>
			<string>Bear non invierà i tuoi crashlog.</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>https://mercury.bear.app</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Relevance</key>
			<string>Default</string>
			<key>Purpose</key>
			<string>Bear necessita il permesso di accedere a questo link per poterne estrapolare il contenuto e salvarlo come note. Bear non condividerà nessuna informazione personale durante questo processo.</string>
			<key>DenyConsequences</key>
			<string>Bear non potrà salvare il contenuto della pagina in una nota.</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>*</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Relevance</key>
			<string>Default</string>
			<key>Purpose</key>
			<string>Bear vuole controllare il link che hai copiato nella tua clipboard per estrapolarne il titolo nel caso tu voglia incollare il link in una nota. Bear non condivide nessuna informazione personale durante questo processo. Per disabilitare questa funzionalità vai nelle preferenze di Bear e cerca l&apos;opzione &quot;Completa il titolo dei collegamenti&quot;</string>
			<key>DenyConsequences</key>
			<string>Bear non potrà cercare il titolo del pagina che vuoi incollare.</string>
		</dict>
	</array>
</dict>
</plist>
