<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationDescription</key>
	<string>小熊筆記是支援 macOS、iOS 以及 Apple Watch 的筆記寫作應用程式。 它提供簡單且靈活的書寫工具、豐富的標記支援以及強大的組織標記系統。</string>
	<key>DeveloperName</key>
	<string>Shiny Frog Ltd.</string>
	<key>Connections</key>
	<array>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>*.appcenter.ms,*.data.microsoft.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Relevance</key>
			<string>Default</string>
			<key>Purpose</key>
			<string>小熊筆記最近發生過崩潰。 我們想要獲得您的允許，以向 AppCenter 發送匿名崩潰日誌，以便進一步調查此問題。 此過程不會共用任何個人資料。</string>
			<key>DenyConsequences</key>
			<string>我們無法調查此類崩潰的情況，因而也無法修復此問題。</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>https://mercury.bear.app</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Relevance</key>
			<string>Default</string>
			<key>Purpose</key>
			<string>小熊筆記需要獲取許可權來檢查此連結，以將其內容保存為筆記。  小熊筆記在此過程中不會共用任何個人資訊。</string>
			<key>DenyConsequences</key>
			<string>小熊筆記將無法將此連結網站的內容儲存到筆記中。</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>*</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Relevance</key>
			<string>Default</string>
			<key>Purpose</key>
			<string>小熊筆記想要檢查剪貼簿中的URL，以便添加頁面的標題並將其連結到筆記。 小熊筆記在此過程中不會共用任何個人資訊。 若要禁用此功能，請在小熊筆記偏好設定中更改「標題自動填充」選項。</string>
			<key>DenyConsequences</key>
			<string>必須先將URL粘貼在筆記中，小熊筆記才能檢查連結到頁面的標題。</string>
		</dict>
	</array>
</dict>
</plist>
