<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationDescription</key>
	<string>Bear ist eine Notiz- und Schreibe-App für macOS, iOS und Apple Watch. Sie bietet simple aber flexible Schreibwerkzeuge, starke Markdown-Unterstützung und ein robustes Tagging-System zur Organisation.</string>
	<key>DeveloperName</key>
	<string>Shiny Frog Ltd.</string>
	<key>Connections</key>
	<array>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>*.appcenter.ms,*.data.microsoft.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Relevance</key>
			<string>Default</string>
			<key>Purpose</key>
			<string>Bear ist kürzlich abgestürzt. Haben wir die Erlaubnis, ein anonymes Absturzprotokoll an AppCenter zu senden, um das Problem zu untersuchen? Es werden keine persönlichen Informationen geteilt.</string>
			<key>DenyConsequences</key>
			<string>Es wird uns nicht möglich sein, die Umstände dieses Absturzes herauszufinden oder das Problem möglicherweise zu lösen.</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>https://mercury.bear.app</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Relevance</key>
			<string>Default</string>
			<key>Purpose</key>
			<string>Bear braucht die Erlaubnis, diesen Link zu prüfen, um ihn herunterzuladen und als Notiz zu speichern.  Bear teilt während diesem Prozess keine persönlichen Informationen.</string>
			<key>DenyConsequences</key>
			<string>Es wird Bear nicht möglich sein, den Inhalt der Webseite des Links in eine Notiz zu speichern.</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>*</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Relevance</key>
			<string>Default</string>
			<key>Purpose</key>
			<string>Bear möchte die URL in Ihrer Zwischenablage überprüfen, um den Seitentitel zu einer Notiz hinzuzufügen oder zu verknüpfen. Bear teilt während diesem Prozess keine persönlichen Informationen. Um diese Funktion zu deaktivieren, schalten Sie die &quot;Titel Autofüllung&quot;-Option in Bears Einstellungen aus.</string>
			<key>DenyConsequences</key>
			<string>Es wird Bear nicht möglich, die Seite auf einen Linktitel zu prüfen, bevor die URL in die Notiz eingefügt wurde.</string>
		</dict>
	</array>
</dict>
</plist>
