<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationDescription</key>
	<string>Bear は macOS、iOS、および Apple Watch 用のメモ兼ライティングアプリです。 シンプルかつフレキシブルなライティングツール、強力な Markdown サポート、そして堅牢なタグ付けシステムを搭載しています。</string>
	<key>DeveloperName</key>
	<string>Shiny Frog Ltd.</string>
	<key>Connections</key>
	<array>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>*.appcenter.ms,*.data.microsoft.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Relevance</key>
			<string>Default</string>
			<key>Purpose</key>
			<string>Bear recently crashed. May we have permission to send an anonymous crash log to AppCenter so we can investigate the problem? No personal data will be shared.</string>
			<key>DenyConsequences</key>
			<string>We will not be able to investigate the circumstances of this crash or potentially fix the problem.</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>https://mercury.bear.app</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Relevance</key>
			<string>Default</string>
			<key>Purpose</key>
			<string>Bear がこのリンクを移動してメモとして保存するには、このリンクをチェックする権限が必要です。  Bear は、この処理を実行するにあたって個人情報を一切共有しません。</string>
			<key>DenyConsequences</key>
			<string>Bear は、このリンクの Web サイトの内容をメモに保存できません。</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>*</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Relevance</key>
			<string>Default</string>
			<key>Purpose</key>
			<string>Bearは、ページのタイトルをメモに追加してリンクするために、クリップボード内の URL をチェックしようとしています。 Bear は、この処理を実行するにあたって個人情報を一切共有しません。 この機能を無効にするには、Bear の設定にある「タイトル自動入力」オプションを切り替えます。</string>
			<key>DenyConsequences</key>
			<string>URL がメモに貼り付けられるまで、Bear はページのリンクタイトルを確認できません。</string>
		</dict>
	</array>
</dict>
</plist>
