<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationDescription</key>
	<string>小熊笔记是支持 macOS、iOS 以及 Apple Watch 的笔记写作应用程序。 它提供简单且灵活的书写工具、丰富的标记支持以及强大的组织标记系统。</string>
	<key>DeveloperName</key>
	<string>Shiny Frog Ltd.</string>
	<key>Connections</key>
	<array>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>*.appcenter.ms,*.data.microsoft.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Relevance</key>
			<string>Default</string>
			<key>Purpose</key>
			<string>小熊笔记最近发生过崩溃。 我们想要获得您的允许，以向 AppCenter 发送匿名崩溃日志，以便进一步调查此问题。 此过程不会共享任何个人数据。</string>
			<key>DenyConsequences</key>
			<string>我们无法调查此类崩溃的情况，因而也无法修复此问题。</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>https://mercury.bear.app</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Relevance</key>
			<string>Default</string>
			<key>Purpose</key>
			<string>小熊笔记需要获取权限来检查此链接，以将其内容保存为笔记。  小熊笔记在此过程中不会共享任何个人信息。</string>
			<key>DenyConsequences</key>
			<string>小熊笔记将无法将此链接网站的内容保存到笔记中。</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>*</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Relevance</key>
			<string>Default</string>
			<key>Purpose</key>
			<string>小熊笔记想要检查剪贴板中的URL，以便添加页面的标题并将其链接到笔记。 小熊笔记在此过程中不会共享任何个人信息。 若要禁用此功能，请在小熊笔记偏好设置中更改“标题自动填充”选项。</string>
			<key>DenyConsequences</key>
			<string>必须先将URL粘贴在笔记中，小熊笔记才能检查链接到页面的标题。</string>
		</dict>
	</array>
</dict>
</plist>
